@model IEnumerable<Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeLivro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QntdPaginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeLivro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QntdPaginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editora.Cidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ISBN">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ISBN">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ISBN">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
